@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
.bgblackclass {
  background-color: #1e0731;
}
html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.headings {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
  color: #eab308;
  text-align: center;
  margin-top: 3rem;
  /* #5651e5 */
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-6000 {
    animation-delay: 6s;
    animation-duration: 3s;
  }
}
@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide 
    /* bg-[url('../public/assets/whitelogo.png')]  */
    /* bg-cover; */;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway];
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
  }
  
}
div{
  overflow-x: clip;
}
/* h4{ @apply #6c50a1 #4e7bbe  #d4bb50 #86d2da   } */
